@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.button {
  font-size: 15;
  color: white;
  border: 1px solid white;
  padding: 15px;
  margin-top: 5px;
  background: transparent;
  width: 170px;
}
.white-color {
  color: white;
}

body {
  width: 100%;
}

/* Navbar */

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #e3e6f3;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.06);
  z-index: 999;
}

.header nav {
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  list-style: none;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.header .links li {
  position: relative;
}

.header .links li a {
  color: #222;
  text-decoration: none;
}

.header .links li a:hover,
.header .links li a.active {
  color: #088178;
}

.header .links li a.active::after {
  content: "";
  width: 25px;
  height: 3px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 2px;
}

.header .bag {
  display: none;
}
.header .bars {
  display: none;
}

.header .close-button {
  display: none;
}

/* Hero */

.hero {
  padding: 145px 90px;
  background: #e3e6f3;
}

.hero .headings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero .headings h1 {
  color: #088178;
}

.hero .headings button {
  width: 19%;
  color: #088178;
  background-color: transparent;
  border: none;
  background-image: url("img/button.png");
  font-weight: 700;
  font-size: 15px;
  padding: 10px;
}

.hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 50%;
}

/* Features */

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.features .feature-card {
  width: 180px;
  padding: 25px 15px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid #e3e6f3;
  border-radius: 4px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}

.features .feature-card:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.features .feature-card h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  margin-top: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background: #fddde4;
}

.features .feature-card img {
  width: 100%;
}

.featured-products {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}

.featured-products .summer-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featured-products .summer-collection .products-container {
  margin: 20px 10px;
}

.featured-products .titles {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products {
  padding: 13px;
  position: relative;
}
.products-container {
  margin: 0 10px;
  border: 1px solid #e3e6f3;
  width: 284px;
  border-radius: 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
}

.products img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.products .product-title {
  font-size: 15px;
  margin: 10px 0;
  font-weight: 800;
}

.products p {
  margin: 10px 0;
}

.products .stars {
  color: rgba(231, 147, 12, 0.863);
}

.products .price-cart .price {
  width: 70px;
  color: #088178;
  margin: 10px 0;
}

.products .price-cart .fa-cart-shopping {
  position: absolute;
  bottom: 19px;
  left: 210px;
  color: rgba(68, 170, 68, 0.747);
  font-size: 16px;
  padding: 10px;
  background: #e3e6f3;
  border-radius: 50%;
}

.products .price-cart .fa-cart-shopping:hover {
  color: green;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 50px 0;
  padding: 30px 40px;
  background-image: url(img/banner/b2.jpg);
  color: white;
}

.banner h2 {
  color: white;
}

.banner span {
  color: red;
}

.banner button {
  color: black;
  font-size: 15px 30px;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
  transition: all 300ms ease-in-out;
}

.banner button:hover {
  color: white;
  background: #088178;
  cursor: pointer;
}

/* New Banner */

.new-arrivals .new-arrivals-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.new-arrivals .new-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new-arrivals .products-container {
  margin: 20px 10px;
}

/* Small banner */

.banner2 {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.banner-box {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(img/banner/b17.jpg);
  padding: 40px 50px;
  width: 600px;
  height: auto;
}

.banner-box2 {
  background-image: url(img/banner/b10.jpg);
}

.banner2 .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
  transition: all 300ms ease-in;
}

.banner2 .text-banner {
  color: rgba(255, 115, 0, 0.945);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(img/banner/b7.jpg);
  padding: 70px 20px;
  width: 393px;
  height: auto;
  background-size: cover;
  background-position: top 10% left 0;
}

.banner2 .text-banner2 {
  background-image: url(img/banner/b4.jpg);
}

.banner2 .text-banner3 {
  background-image: url(img/banner/b18.jpg);
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  background-image: url(img/banner/b2.jpg);
  margin-top: 60px;
  align-items: center;
}

.newsletter .left-content {
  display: flex;
  flex-direction: column;
}
.newsletter span {
  color: rgba(255, 166, 0, 0.623);
}

.newsletter .right-content form {
  display: flex;
}
.newsletter .right-content form input {
  padding: 15px 50px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
}

.newsletter .right-content form button {
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 20px;
  background: #088178;
  border: none;
  border-radius: 0 10px 10px 0;
}

/* Footer */

.footer {
  margin: 50px 0;
  display: flex;
  gap: 120px;
  justify-content: center;
}

.footer p {
  font-size: 12px;
}

.footer .contact img {
  margin-bottom: 20px;
}

.footer .contact span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.footer .contact span:nth-child(2) {
  font-size: 12px;
}

.footer .installation span img {
  border: 1px solid #088178;
  border-radius: 5px;
}

@media (max-width: 950px) {
  .header nav {
    padding: 20px 30px;
  }
  .header .links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 0;
    right: -300px;
    padding: 80px 20px;
    background: #e3e6f3;
    box-shadow: 0 40px 35px rgba(0, 0, 0, 0.05);
    width: 300px;
    height: 100%;
    transition: 300ms;
    z-index: 999;
  }

  .header .bars {
    display: flex;
    position: absolute;
    top: 28px;
    right: 50px;
    font-size: 26px;
  }

  .header .bag {
    display: flex;
    position: absolute;
    top: 31px;
    right: 140px;
    font-size: 20px;
  }

  .header .close-button {
    display: flex;
    position: absolute;
    top: 31px;
    right: 260px;
    font-size: 20px;
    z-index: 999;
  }

  .hero {
    height: 70vh;
    background-position: top 30% right 30%;
  }

  .hero {
    padding: 130px 30px;
  }

  .hero .headings {
    gap: 7px;
  }
  .hero .headings h2 {
    font-size: 35px;
  }

  .hero .headings h1 {
    font-size: 45px;
  }

  .hero .headings p {
    margin: 0;
  }

  .hero .headings button {
    width: 32%;
    margin-top: 10px;
    font-size: 12px;
    padding: 15px 0;
  }

  .banner h2 {
    font-size: 40px;
    text-align: center;
  }
  .banner button {
    font-size: 10px;
  }

  .banner2 .text-banner {
    width: 600px;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter .right-content form input {
    padding: 10px 40px;

    font-size: 10px;
  }

  .newsletter .right-content form button {
    font-size: 10px;
    padding: 10px 20px;
  }

  .footer {
    margin: 50px 30px;
    gap: 20px;
    justify-content: center;
  }

  .footer .installation img {
    width: 160px;
  }
}

@media (max-width: 550px) {
  .header .bars {
    right: 30px;
  }

  .header nav img {
    width: 120px;
  }
  .header .bag {
    right: 100px;
    font-size: 17px;
  }

  .hero {
    height: 70vh;
    background-position: top 30% right 45%;
  }

  .hero {
    padding: 90px 30px;
  }

  .hero .headings {
    gap: 2px;
  }
  .hero .headings h2 {
    font-size: 25px;
  }

  .hero .headings h1 {
    font-size: 34px;
    line-height: 1;
  }

  .hero .headings p {
    margin: 12px 0;
    font-size: 10px;
  }

  .hero .headings button {
    width: 60%;
    background-position: top 20% right 30%;
    margin-top: 10px;
    font-size: 12px;
    padding: 15px 0;
  }

  .banner h2 {
    font-size: 30px;
    text-align: center;
  }
  .banner button {
    font-size: 9px;
    padding: 10px;
  }

  .footer {
    margin: 50px 30px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer .about {
    margin-right: 30px;
  }

  .footer .installation {
    margin-left: 18px;
  }
}

/* Shop section */

.shop-header {
  height: 40vh;
  width: 100%;
  padding: 20px;
  background-image: url(img/banner/b1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.shop-heading {
  color: white;
}

.shop-buttons {
  display: flex;
  justify-content: center;
}
.shop-buttons button {
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  background: #088178;
  border: none;
  border-radius: 5px;
}

.shop-buttons .button1 {
  padding: 15px 20px;
}

.shop-buttons button a {
  color: white;
  text-decoration: none;
}

/* Single Products */

.single-product {
  display: flex;
  justify-content: space-between;
  margin: 70px 50px;
}

.single-product .product-left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product .product-left-content .main-img {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin-bottom: 5px;
}

.single-product .product-left-content .small-images {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.single-product .product-left-content .small-images .small-image {
  width: 30%;
  height: 120px;
}

.single-product .product-right-content {
  margin-top: 30px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.single-product .product-right-content .options .sizes {
  padding: 10px;
  border: 1px solid #088178;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 600;
}

.single-product .product-right-content .option-button,
.single-product .product-right-content .add-to-cart-button {
  padding: 10px 20px;
  border: 1px solid #088178;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 600;
}

.single-product .product-right-content .add-to-cart-button {
  color: white;
  background: #088178;
}

/* Single Item media query */

@media (max-width: 950px) {
  .single-product {
    display: flex;
    flex-direction: column;
  }

  .single-product .product-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-product .product-left-content .main-img {
    width: 100%;
    height: auto;
  }

  .single-product .product-left-content .small-images {
    max-width: 80%;
    gap: 5px;
  }
  .single-product .product-left-content .small-images .small-image {
    height: auto;
  }
}

/* Blog section */

.blog-header {
  height: 40vh;
  width: 100%;
  padding: 20px;
  background-image: url(img/banner/b19.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.blog {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 150px 150px 150px 150px;
}
.blog-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.blog-content .blog-left-content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.blog-content .blog-left-content .main-blog-image {
  width: 90%;
  height: 300px;
  object-fit: cover;
}

.blog-content .blog-right-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.blog-content .blog-right-content h6 {
  font-size: 25px;
}

.blog-content .blog-right-content a {
  text-decoration: none;
  color: black;
}

.blog-content .blog-right-content a::after {
  content: "";
  width: 15%;
  height: 2px;
  background: black;
  position: absolute;
  right: 190px;
  bottom: 13px;
}

.blog-content .blog-right-content a:hover {
  color: #088178;
}

.blog-content .blog-right-content a:hover::after {
  background: #088178;
}

.blog-content .blog-left-content h2 {
  position: absolute;
  top: -33px;
  left: 25px;
  color: #c9cbce;
  z-index: -1;
}

@media (max-width: 950px) {
  .blog {
    padding: 90px 50px;
  }
  .blog-content {
    flex-direction: column;
  }
  .blog-content .blog-left-content .main-blog-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .blog-content .blog-right-content a::after {
    display: none;
  }
}

/* About section */

.about-header {
  height: 40vh;
  width: 100%;
  padding: 20px;
  background-image: url(img/about/banner.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-header .about-heading {
  color: white;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 100px 150px;
}
.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.about-content .about-left-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}
.about-content .about-left-content img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.about-content .about-right-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.about-content .about-right-content span {
  text-decoration: dotted underline;
}

.about-ad {
  text-align: center;
}

.about-ad span {
  color: blueviolet;
  text-decoration: underline;
}
.about-ad .video video {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 950px) {
  .about-us {
    padding: 80px 30px;
  }
  .about-content {
    flex-direction: column;
  }

  .about-content h2,
  h1 {
    font-size: 30px;
  }
  .about-ad .video video {
    width: 80%;
    padding: 0;
  }
}

/* Contact section */

.contact-header {
  height: 40vh;
  width: 100%;
  padding: 20px;
  background-image: url(img/about/banner.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.contact-header .contact-heading {
  color: white;
}

.contact-info {
  padding: 100px;
}
.contact-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.contact-content .contact-right-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.contact-content .contact-left-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.contact-content .contact-left-content ul {
  list-style: none;
  margin-top: 10px;
}

.contact-content .contact-left-content ul li {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.contact-details {
  padding: 100px;
}

.get-in-touch .contact-form {
  display: flex;
  padding: 100px;
  gap: 70px;
}

.get-in-touch .contact-form .contact-message-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 70%;
}
.get-in-touch .contact-form .contact-message-info form {
  display: flex;
  flex-direction: column;
}
.get-in-touch .contact-form .contact-message-info form input {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #c9cbce;
  border-radius: 5px;
  outline: none;
}

.get-in-touch .contact-form .contact-message-info form .message {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #c9cbce;
  border-radius: 5px;
  outline: none;
}

.get-in-touch .contact-form .contact-message-info form .submit-button {
  width: 13%;
  background: #088178;
  color: white;
  font-weight: 600;
  box-shadow: 10px 3px 30px rgba(0, 0, 0, 0.06);
}

.get-in-touch .contact-form .contact-message-info form .submit-button:hover {
  background: #c9cbce;
  color: #222;
  transition: all 300ms ease-in-out;
}

.team-members {
  display: flex;
  gap: 30px;
}

.team-members img {
  width: 70px;
  height: auto;
  object-fit: cover;
}

.team-members .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team-members .description ul {
  list-style: none;
  font-size: small;
  line-height: 1.5;
}

.team {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 950px) {
  .contact-info {
    padding: 40px;
  }
  .contact-content {
    flex-direction: column;
  }

  .get-in-touch .contact-form {
    flex-direction: column;
    padding: 40px;
  }

  .get-in-touch .contact-form .contact-message-info form .submit-button {
    width: 50%;
  }
}

/* Cart section */

.cart-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}

.cart-table table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table table thead {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.cart-table table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

.cart-table table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

.cart-table table td:nth-child(2),
.cart-table table td:nth-child(4),
.cart-table table td:nth-child(5),
.cart-table table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

.cart-table table thead td {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
}

.cart-table table tbody tr td {
  border: none;
  padding: 30px 0 20px 0;
}

.cart-table table tbody tr img {
  width: 70px;
}

.cart-table table tbody tr input {
  width: 70px;
  padding: 10px 5px 10px 15px;
  outline: none;
}

.cart-table .total-costs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.cart-table .total-costs span {
  font-weight: normal;
}
.cart-table button {
  padding: 12px 15px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  background: #088178;
  border-radius: 5px;
  border: none;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.09);
}

@media (max-width: 950px) {
  .cart-table {
    margin: 10px;
    font-size: 10px;
  }

  .cart-table table tbody tr input {
    width: 50px;
  }

  .cart-table table tbody tr img {
    width: 50px;
  }
}
