@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.button {
  font-size: 15;
  color: white;
  border: 1px solid white;
  padding: 15px;
  margin-top: 5px;
  background: transparent;
  width: 170px;
}
.white-color {
  color: white;
}

body {
  width: 100%;
}

/* Navbar */

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #e3e6f3;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.06);
  z-index: 999;
}

.header nav {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  list-style: none;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  position: relative;
}

.header .links li a {
  color: #222;
  text-decoration: none;
}

.header .links li a:hover,
.header .links li a.active {
  color: #088178;
}

.header .links li a.active::after {
  content: "";
  width: 20px;
  height: 4px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 2px;
}

/* Hero */

.hero {
  padding: 150px 50px;
  background: #e3e6f3;
}

.hero .headings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero .headings h1 {
  color: #088178;
}

.hero .headings button {
  width: 19%;
  color: #088178;
  background-color: transparent;
  border: none;
  background-image: url("img/button.png");
  font-weight: 700;
  font-size: 15px;
  padding: 10px;
}

.hero {
  background-image: url("img/hero4.png");
  height: 90%;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0;
}

/* Features */

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.features .feature-card {
  width: 180px;
  padding: 25px 15px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid #e3e6f3;
  border-radius: 4px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}

.features .feature-card:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.features .feature-card h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  margin-top: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background: #fddde4;
}

.features .feature-card img {
  width: 100%;
}

.featured-products {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}

.featured-products div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured-products div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-products .titles {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products {
  padding: 13px;
  position: relative;
}
.products-container {
  margin: 0 10px;
  border: 1px solid #e3e6f3;
  width: 284px;
  border-radius: 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
}

.products img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.products .product-title {
  font-size: 15px;
  margin: 10px 0;
  font-weight: 800;
}

.products p {
  margin: 10px 0;
}

.products .stars {
  color: rgba(231, 147, 12, 0.863);
}

.products .price-cart .price {
  width: 70px;
  color: #088178;
  margin: 10px 0;
}

.products .price-cart .fa-cart-shopping {
  position: absolute;
  bottom: 19px;
  left: 210px;
  color: rgba(68, 170, 68, 0.747);
  font-size: 16px;
  padding: 10px;
  background: #e3e6f3;
  border-radius: 50%;
}

.products .price-cart .fa-cart-shopping:hover {
  color: green;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 50px 0;
  padding: 30px 40px;
  background-image: url(img/banner/b2.jpg);
  color: white;
}

.banner h2 {
  color: white;
}

.banner span {
  color: red;
}

.banner button {
  color: black;
  font-size: 15px 30px;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
  transition: all 300ms ease-in-out;
}

.banner button:hover {
  color: white;
  background: #088178;
  cursor: pointer;
}

/* New Banner */

.new-arrivals .new-arrivals-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.new-arrivals .new-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new-arrivals .products-container {
  margin: 20px 10px;
}

/* Small banner */

.banner2 {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.banner-box {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(img/banner/b17.jpg);
  padding: 40px 50px;
  width: 600px;
  height: auto;
}

.banner-box2 {
  background-image: url(img/banner/b10.jpg);
}

.banner2 .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
  transition: all 300ms ease-in;
}

.banner2 .text-banner {
  color: rgba(255, 115, 0, 0.945);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(img/banner/b7.jpg);
  padding: 70px 20px;
  width: 393px;
  height: auto;
  background-size: cover;
  background-position: top 10% left 0;
}

.banner2 .text-banner2 {
  background-image: url(img/banner/b4.jpg);
}

.banner2 .text-banner3 {
  background-image: url(img/banner/b18.jpg);
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  background-image: url(img/banner/b2.jpg);
  margin-top: 60px;
  align-items: center;
}

.newsletter .left-content {
  display: flex;
  flex-direction: column;
}
.newsletter span {
  color: rgba(255, 166, 0, 0.623);
}

.newsletter .right-content form {
  display: flex;
}
.newsletter .right-content form input {
  padding: 15px 50px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
}

.newsletter .right-content form button {
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 20px;
  background: #088178;
  border: none;
  border-radius: 0 10px 10px 0;
}

/* Footer */
